.btn-cta
  background-color: $green
  font-weight: bold
  transition: all 0.3s ease-in-out

  a
    text-decoration: none
    color: $white

  &:hover
    transform: translateY(-4px)
    background-color: $green

    a
      color: $off-white

.btn-cta-alt
  background-color: $off-white
  transition: all 0.3s ease-in-out

  a
    text-decoration: none
    color: $green

  &:hover
    transform: translateY(-4px)
    background-color: $green

    a
      color: $off-white
