$black: #0D1821
$black-footer: #1E1E1E
$grey: #515151
$brown: #8E7B6B
$white: #ffffff
$off-white: #FBF7F0
$green: #53917E
$green-title: #287F64
$blue-link: #006eb5


$serg-lime: #C5D86D
$serg-orange: #DAB785
$serg-red: #D5896F
$serg-green: #7DB86B
$serg-blue: #529EE0
$serg-purple: #9A84F3
$serg-pink: #EF81ED

$serg-race: #F77575
$serg-racism: #F9B667
$serg-fantasy: #4B8C90
$serg-multiplicity: #6A66A3
$serg-characterization: #9DBA68
$serg-intersection: #7B9A5E
$serg-narrative: #5A7B50
$serg-mechanics: #464942