@font-face
  font-family: 'Cal Sans Text'
  src: url('/assets/fonts/CalSansText-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Cal Sans Bold'
  src: url('/assets/fonts/CalSans-Regular.ttf') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Cal Sans UI'
  src: url('/assets/fonts/CalSansUI-UILight.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Space Grotesk'
  src: url('/assets/fonts/SpaceGrotesk-Regular') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Inter'
  src: url('/assets/fonts/Inter_18pt-Regular') format('woff2')
  font-weight: normal
  font-style: normal


h1, h2, h3, h4, h5, h6
  font-family: 'Cal Sans Text', sans-serif
  font-weight: bold

h1
  font-size: 2.5rem
  line-height: 120%


h2
  font-size: 2rem
  line-height: 120%

body
  font-family: 'Cal Sans Text', sans-serif
  color: $black

