---
layout: "wrapper"
title: Publications
permalink: /publications
---

<div class="publications">
    <section class="publication-list pt-4">
        <div class="last-updated text-left container w-75">
            <p class="text-left">Last Updated: {{ site.data.last-updated-dates.publications }}</p>  
        </div>
        <!-- Liquid 'for' loop iterating thru the 'publications' data file and creating a similar layout for each publication. -->
        <!-- Checks if the publication has a hyperlink. If does, hovering over it causes it to turn a different color-->
        {% for publication in site.data.publications %}
        <div class="individual-publication text-left container w-75 py-2">
            <!-- If the publication has a provided link, the YML file should break down the title into components for display -->
            {% if publication.link and publication.name %}
            <a class="hover-link" href="{{ publication.link }}">
                {{ publication.authors }} {{ }}<span class="underlined">{{ publication.name }}</span>{{ }} {{ publication.proceedings }}
                {% if publication.award == "Best Paper Award" %}
                    <img src="/assets/images/icons/bestpaper.png" alt="Best Paper Award Icon" 
                    title="Best Paper Award">
                {% elsif publication.award == "Honourable Mention Award" %}
                    <img src="/assets/images/icons/honorable.png" alt="Honourable Mention Award Icon" 
                    title="Honourable Mention Award">
                {% endif %}
            </a>
            {% else %}
            <a>{{ publication.title }}</a>
            {% endif %}
        </div>
        {% endfor %}
    </section>
</div>

