.people
  h1
    font-size: 2rem

  section
    &:nth-child(even)
      background-color: $off-white

    &:nth-child(odd)
      background-color: $white

  .current-members, .affiliates

    .polaroid
      padding: 1rem

      .headshot
        width: 250px
        height: 250px
        max-width: none
        object-fit: cover
        display: block
        margin-right: 1rem

      .polaroid-text
        padding-left: 0
        h2
          font-family: 'Cal Sans UI'
          font-size: 1rem
          color: $black
          margin-bottom: 0
      
      .current-members-name-text
        font-weight: bold
        width: 7rem

      .polaroid-icons
        padding-right: 0
        a img
          height: 20px
        .external-site-icon
          margin-left: 0.75em

  .alumni
    .container
      width: 50%
      margin-top: 1rem
      text-align: center

      h2
        margin-bottom: 1.5rem
        font-family: 'Cal Sans UI'
        font-size: 1rem
        color: $green
        margin-bottom: 1rem

        &:nth-child(even)
          color: $green
