.press
    .container
        min-width: fit-content

        .press-item
            width: 30%
            padding: 1rem
            
            &:hover
                cursor: pointer
                
                .press-image
                    transition: filter 0.3s ease
                    filter: brightness(50%)
                
                .press-date
                    color: $red
            
            .hover-link
                color: $black
                text-decoration: none

                .row
                    width: 95%
                    padding: 0
                
                    .press-image
                        max-width: 400px
                        padding: 0 0 0 0
                    
                    .press-title
                        padding-left: 0
                
                .press-date
                    padding-left: 0
                    font-size: 0.75rem
