.footer
  background-color: $black-footer

  .footer-neu-logo
    height: 4rem
    transition: all 0.3s ease-in-out

    &:hover
      transform: translateY(-4px)
  
  .footer-ato-logo
    height: 4rem
    margin-left: 1rem

  .nav-container
    text-decoration: none
    flex-direction: row-reverse

  @media screen and (max-width: 768px)
    .col-sm-12
      justify-content: center

      .footer-neu-logo
        margin-bottom: 1rem
      
      .footer-ato-logo
        margin-bottom: 1rem

  .logos
    height: 1.5rem
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(55deg) brightness(100%) contrast(100%)

  .footer-logo-stack
    gap: 0.25rem

  a
    text-decoration: none
  
  h5
    color: $white
    font-size: 0.8rem
    font-family: 'Cal Sans UI', sans-serif
    margin: 0
