section.serg-approaching-hero
  background-color: $white

  h1
    font-weight: 900
    font-family: 'Space Grotesk Bold'

  .approaching-SERG-hero-text
    font-family: 'Space Grotesk'
    max-width: 50rem
    margin-left: auto
    margin-right: auto
    font-size: 1.1rem

section.appraoching-benefits
    background-color: $serg-orange

    .benefits-icon
      flex: 0 0 14rem
      width: 14rem
      height: 14rem
      display: flex
      align-items: center
      justify-content: center
      filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(55deg) brightness(100%) contrast(100%)

      img
        width: 100%
        height: 100%
        max-width: 100%
        object-fit: contain
        display: block

    p
      font-family: 'Space Grotesk'
      font-size: 1.1rem

section.approaching-mindfully
  padding: 1rem
  background-color: $white

  .approaching-mindfully-text
    font-family: 'Space Grotesk'
    font-size: 1.0rem

  .SERG-slideshow
    max-width: 40rem
    width: 100%
    height: auto
    margin-right: 0.5rem
    padding-bottom: 0.5rem
    border-radius: 0.1rem

section.how-to-use
  h1
    font-weight: 900
    font-family: 'Space Grotesk Bold'

  .how-to-intro-text
    font-family: 'Space Grotesk'
    margin-left: auto
    margin-right: auto
    font-size: 1rem

  .how-col
    .how-card
      padding: 2rem
      
      .how-card-icon
        width: 3rem
        filter: invert(37%) sepia(71%) saturate(354%) hue-rotate(110deg) brightness(96%) contrast(94%)

      h4
        color: $black
        font-family: 'Space Grotesk', sans-serif

      .how-description
        width: 75%
        text-align: center
        font-family: 'Space Grotesk', sans-serif
  
  .how-to-text
    font-family: 'Space Grotesk'

    a
      text-decoration: none
      color: $black

    .approaching-essential
      background-color: $serg-red
      font-family: 'Space Grotesk Bold'
      padding: 2px
      border-radius: 4px
    
    .approaching-spectrums
      background-color: $serg-green
      font-family: 'Space Grotesk Bold'
      padding: 2px
      border-radius: 4px
    
    .approaching-design
      background-color: $serg-blue
      font-family: 'Space Grotesk Bold'
      padding: 2px
      border-radius: 4px
    
    .approaching-goals
      background-color: $serg-purple
      font-family: 'Space Grotesk Bold'
      padding: 2px
      border-radius: 4px

section.redirection-approaching
  background-color: $white
  
  h2
    font-family: 'Cal Sans UI Bold'
    font-size: 1.5rem
  
  .home-btn
    background-color: $serg-lime
    color: $black
    font-size: 1.2rem
    border: none
  
  .concepts-btn
    background-color: $serg-red
    color: $black
    font-size: 1.2rem
    border: none
