section.serg-bib-hero
  background-color: $white

  h1
    font-weight: 900
    font-family: 'Space Grotesk Bold'

section.references, section.recommended-readings
    background-color: $white

    .bib-titles
        font-family: 'Cal Sans UI'
        background-color: $serg-pink
        border-radius: 8px
        line-height: 2.3rem
        padding: 0.55rem
        box-decoration-break: clone
        -webkit-box-decoration-break: clone
    
    .reference-category-text
        font-family: 'Space Grotesk'
        width: 50rem
        font-size: 1.1rem
    
    .bib-text
        font-family: 'Space Grotesk'

section.redirection-bib
  background-color: $white
  
  h2
    font-family: 'Cal Sans UI Bold'
    font-size: 1.5rem
  
  .design-btn
    background-color: $serg-purple
    color: $black
    font-size: 1.2rem
    border: none