section.serg-design-hero
  background-color: $white

  h1
    font-weight: 900
    font-family: 'Space Grotesk Bold'

  .design-hero-text
    font-family: 'Space Grotesk'
    max-width: 50rem
    margin-left: auto
    margin-right: auto
    font-size: 1.1rem

section.brainstorm-activities
    .activities-titles
        font-family: 'Cal Sans UI Bold'
        padding: 1.2rem
        background-color: $serg-blue
        border-radius: 8px
    
    .instruction-text
        font-family: 'Space Grotesk'
        width: 40rem
        font-size: 1.1rem
    
    .activity-text
        font-family: 'Space Grotesk'
    
    .activity-text span
        font-family: 'Space Grotesk Bold'