section.serg-essential-hero
  background-color: $white

  h1
    font-weight: 900
    font-family: 'Space Grotesk Bold'

  .essential-hero-text
    font-family: 'Space Grotesk'
    max-width: 50rem
    margin-left: auto
    margin-right: auto
    font-size: 1.1rem

  .essential-hero-buttons
    font-family: 'Space Grotesk Bold'
    text-align: center
    font-size: 1.0rem
    padding: 1.3rem 1rem 1.3rem 1rem
    margin: 1rem
    background-color: $serg-red
    border-radius: 8px
    width: auto

.essential-concepts-intro-header
  font-family: 'Cal Sans UI Bold'

section.oppression-intro, section.liberation-intro, section.crt-intro, section.flourishing-intro
  background-color: $serg-red

  p
    font-family: 'Space Grotesk'
    font-size: 1.1rem
  
  a
    color: $black

    &:hover
      color: $white

section.oppression-general, section.liberation-general, section.crt-general, section.flourishing-general
  background-color: $white

  p
    font-family: 'Space Grotesk'
    font-size: 1.1rem
  
  p span
    font-family: 'Space Grotesk Bold'

section.redirection-essential
  background-color: $white
  
  h2
    font-family: 'Cal Sans UI Bold'
    font-size: 1.5rem
  
  .approaching-btn
    background-color: $serg-orange
    color: $black
    font-size: 1.2rem
    border: none
  
  .spectrums-btn
    background-color: $serg-green
    color: $black
    font-size: 1.2rem
    border: none