section.serg-goal-hero
    background-color: $white

    h1
        font-weight: 900
        font-family: 'Space Grotesk Bold'

    .goal-hero-text
        font-family: 'Space Grotesk'
        max-width: 50rem
        margin-left: auto
        margin-right: auto
        font-size: 1.1rem


section.setting-goals, section.sample-goals, section.different-stakeholders
    background-color: $white

    .goal-title
        font-family: 'Cal Sans UI'
        background-color: $serg-blue
        border-radius: 8px
        line-height: 3rem
        padding: 0.55rem
        box-decoration-break: clone
        -webkit-box-decoration-break: clone
    
    .goal-title-mini
        font-family: 'Cal Sans UI'
        line-height: 2.3rem
    
    .instruction-text
        font-family: 'Space Grotesk'
        font-size: 1.1rem
    
    .activity-text
        font-family: 'Space Grotesk'
    
    .activity-text span
        font-family: 'Space Grotesk Bold'
    
    .side-text
        font-family: 'Space Grotesk'
        font-size: 0.9rem


section.redirection-goals
  background-color: $white
  
  h2
    font-family: 'Cal Sans UI Bold'
    font-size: 1.5rem
  
  .spectrums-btn
    background-color: $serg-green
    color: $black
    font-size: 1.2rem
    border: none
  
  .activities-btn
    background-color: $serg-purple
    color: $black
    font-size: 1.2rem
    border: none