section.serg-intro-hero
  padding: 1rem
  background-color: $white

  h2
    font-family: 'Space Grotesk Bold'
    text-align: center
    color: $green
    font-weight: 900
  
  .SERG-intro-hero-text
    font-family: 'Space Grotesk'
    font-size: 1.1rem

  .version-text
    text-align: center
    font-size: 1.5rem

  .SERG-slideshow
    max-width: 40rem
    width: 100%
    height: auto
    margin-right: 0.5rem
    padding-bottom: 0.5rem
    border-radius: 0.1rem

  @media screen and (max-width: 768px)
    .SERG-slideshow
      max-width: 100%
      margin-right: 0
      margin-bottom: 1rem

section.serg-green-banner
  background-color: $serg-lime

  .green-banner-content
    font-size: 1.05rem

section.serg-chapters-section
  padding: 1rem
  background-color: $white

  h2
    font-family: 'Cal Sans UI Bold'
    text-align: left
    color: $black
    font-weight: 400
  
  a
    text-decoration: none
    display: block
    margin-bottom: 0.75rem
    width: fit-content

  h3
    font-family: 'Cal Sans UI'
    font-size: 1.5rem
    text-align: left
    color: $black
    margin: 0
    padding-bottom: 0.5rem
    line-height: 2.3rem
    
  h3 span
    display: inline
    padding: 0.5rem
    border-radius: 5px
    box-decoration-break: clone
    -webkit-box-decoration-break: clone

  .chapter-1
    background-color: $serg-lime
  
  .chapter-2
    background-color: $serg-orange
  
  .chapter-3
    background-color: $serg-red
  
  .chapter-4
    background-color: $serg-green
  
  .chapter-5
    background-color: $serg-blue
  
  .chapter-6
    background-color: $serg-purple
  
  .chapter-7
    background-color: $serg-pink

  .serg-home-disclaimer
    padding: 2rem
    width: 40rem
    margin-inline: auto
    background-color: #D9D9D9
    border-radius: 8px
    font-size: 1.0rem
    text-align: center
    font-family: 'Space Grotesk'

    @media screen and (max-width: 768px)
      width:  100%

section.serg-banner-title
  h3
    font-family: 'Cal Sans UI Bold'

  h3 span
    background-color: $serg-lime
    border-radius: 8px
    padding: 0.55rem

h4
    font-family: 'Cal Sans UI'

.serg-banner-text
  color: $white

section.serg-race-banner
  background-color: $serg-race

section.serg-racism-banner
  background-color: $serg-racism

section.serg-fantasy-banner
  background-color: $serg-fantasy

section.serg-multiplicity-banner
  background-color: $serg-multiplicity

section.serg-characterization-banner
  background-color: $serg-characterization

section.serg-intersection-banner
  background-color: $serg-intersection

section.serg-narrative-banner
  background-color: $serg-narrative

section.serg-mechanics-banner
  background-color: $serg-mechanics


section.redirection-approaching
  background-color: $white
  
  h2
    font-family: 'Cal Sans UI Bold'
    font-size: 1.5rem
  
  .approaching-btn
    background-color: $serg-orange
    font-size: 1.2rem
    color: $black
    border: none