section.serg-spectrums-hero
  background-color: $white

  h1
    font-weight: 900
    font-family: 'Space Grotesk Bold'

  .essential-hero-text
    font-family: 'Space Grotesk'
    max-width: 50rem
    margin-left: auto
    margin-right: auto
    font-size: 1.1rem

  .essential-hero-buttons
    font-family: 'Space Grotesk Bold'
    text-align: center
    font-size: 1.0rem
    padding: 1.3rem 1rem 1.3rem 1rem
    margin: 1rem
    background-color: $serg-red
    border-radius: 8px
    width: auto

section.case-study
    background-color: $white

    .case-title
        font-family: 'Cal Sans UI'
        border-radius: 8px
        line-height: 2.3rem
        padding: 0.55rem
        box-decoration-break: clone
        -webkit-box-decoration-break: clone
    
    .case-study-text
        font-family: 'Space Grotesk'
        font-size: 1.1rem
    
    .case-study-disclaimer
        font-family: 'Space Grotesk'
        font-size: 1.1rem
        padding: 1rem 0rem 0.5rem 0.5rem
        margin-left: 0.5rem
        background-color: #D9D9D9
        border-radius: 8px
    
    .activity-text span
        font-family: 'Space Grotesk Bold'
    
    .side-text
        font-family: 'Space Grotesk'
        font-size: 0.9rem

section.serg-banner-title-spectrums
    background-color: $white
    h3
        font-family: 'Cal Sans UI Bold'

    h3 span
        background-color: $serg-lime
        border-radius: 8px
        padding: 0.60rem

.serg-banner-text
    color: $white
    font-family: 'Space Grotesk'

section.serg-race-banner
    background-color: $serg-race

section.serg-racism-banner
    background-color: $serg-racism

section.serg-fantasy-banner
    background-color: $serg-fantasy

section.serg-multiplicity-banner
    background-color: $serg-multiplicity

section.serg-characterization-banner
    background-color: $serg-characterization

section.serg-intersection-banner
    background-color: $serg-intersection

section.serg-narrative-banner
    background-color: $serg-narrative

section.serg-mechanics-banner
    background-color: $serg-mechanics

section.spectrums-table
    background-color: $white

    .case-title
        font-family: 'Cal Sans UI'
        border-radius: 8px
        line-height: 2.3rem
        padding: 0.55rem
        box-decoration-break: clone
        -webkit-box-decoration-break: clone
    
    .case-study-text
        font-family: 'Space Grotesk'
        font-size: 1.1rem
    
    spectrum-table-img
        max-width: 80%

section.redirection-spectrums
  background-color: $white
  
  h2
    font-family: 'Cal Sans UI Bold'
    font-size: 1.5rem
  
  .essential-btn
    background-color: $serg-red
    color: $black
    font-size: 1.2rem
    border: none
  
  .goal-btn
    background-color: $serg-blue
    color: $black
    font-size: 1.2rem
    border: none




section.spectrum-race
    .spectrum-img
        max-width: 40rem
        width: 100%
        height: auto
    
    .spectrum-title, .spectrum-def
        width: 40rem
    
    .spectrum-title
        font-family: 'Peace Sans'
        color: $white
        font-size: 2.0rem
        padding: 1.5rem 1rem 1.5rem 1rem
        border-radius: 8px
    
    .spectrum-def
        font-family: 'Space Grotesk'
        color: $black
        font-size: 1.5rem
        padding: 1rem 0.5rem 1rem 0.5rem
        border-radius: 8px
    
    .spectrum-def span
        font-family: 'Space Grotesk'
    
    @media screen and (max-width: 768px)
        .spectrum-img
            max-width: 100%
            margin-right: 0
            margin-bottom: 1rem
        
        .spectrum-title, .spectrum-def
            width: 100%
    
    
    .race-color
        background-color: $serg-race
    

