<!-- Footer with NEU logo and nav links -->
<div class="footer">
  <div class="container">
    <div class="row pt-3 pb-3">
      <div class="col-auto d-flex align-items-center">
        <img
          class="footer-ato-logo"
          src="assets/images/ATo-Logo.svg"
          alt="ATo Logo"
        />
        <a href="https://www.northeastern.edu/">
          <img
            class="footer-neu-logo"
            src="assets/images/neu-logo.png"
            alt="Northeastern University"
          />
        </a>
        <div class="col-auto d-flex flex-column align-items-start footer-logo-stack">
          <img
            src="assets/images/camd-logo.png"
            alt="CAMD logo"
            class="logos"
          />
          <img
            src="assets/images/khoury-logo.png"
            alt="Khoury logo"
            class="logos"
          />
        </div>
      </div>
      <div class="col d-flex flex-column justify-content-center nav-container">
        <!-- <h5>ato.neulab@gmail.com</h5>
        <h5>271 Huntington Ave</h5>
        <h5>Boston, MA 02115</h5> -->
        <h5>{% include text-content/footer-colleges.md %}</h5>
      </div>
    </div>
  </div>
</div>
