---
layout: "wrapper"
title: Approaching the SERG Framework
header: header-serg
permalink: /approaching-serg
---
<section class="serg-approaching-hero container-fluid w-75 py-5">
    <div class="d-flex row align-items-center">
        <div class="col">
            <h1 class="text-center">Approaching the SERG Framework</h1>

            <div class="mt-2 mb-4 text-center approaching-SERG-hero-text">
            {% include text-content/serg/approaching-serg/approaching-serg-1.md %}
            </div>

            <div class="d-flex justify-content-center py-3">
                <img src="{{ '/assets/images/page-imgs/serg-approaching-imgs/serg-bar.webp' | relative_url }}" alt="SERG spectrum bar" class="SERG-spectrum-bar img-fluid">
            </div>

            <div class="mt-2 mb-4 text-center approaching-SERG-hero-text">
                {% include text-content/serg/approaching-serg/approaching-serg-2.md %}
            </div>
        </div>
    </div>
</section>

<section class="appraoching-benefits container-fluid py-5">
    <div class="w-75 row align-items-center mx-auto">
        <div class="col justify-content-center benefits-icon">
            <img src="{{ '/assets/images/page-imgs/serg-approaching-imgs/thinking-icon.svg' | relative_url }}" alt="SERG benefits">
        </div>
        <div class="col mt-2 mb-4 text-left align-items-center justify-content-center">
            {% include text-content/serg/approaching-serg/approaching-serg-3.md %}
        </div>
    </div>
</section>

<section class="approaching-mindfully container-fluid w-75 py-5">
    <div class="row align-items-center">
        <div class="col px-4">
            <div class="mt-2 mb-4 text-center approaching-mindfully-text">
            {% include text-content/serg/approaching-serg/approaching-mindfully.md %}
            </div>
        </div>
        <div class="col-12 col-md-6 align-items-center">
            <div class="row d-flex justify-content-center">
                <img src="{{ '/assets/images/page-imgs/serg-approaching-imgs/approaching-mindfully.webp' | relative_url }}" alt="SERG Slideshow" class="SERG-slideshow img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="how-to-use container-fluid w-75 py-3">
    <div class="d-flex row align-items-center">
        <div class="row">
            <h2>How do I use this framework?</h2>

            <div class="mt-2 mb-4 how-to-intro-text">
            {% include text-content/serg/approaching-serg/how-to-intro.md %}
            </div>
        </div>

        <div class="how-col col-sm-6 col-md-6">
            <div class="how-card d-flex flex-column align-items-center">
                <h4>Reflection</h4>
                <img
                    src="{{ '/assets/images/page-imgs/serg-approaching-imgs/reflection.svg' | relative_url }}"
                    alt="reflection icon"
                    class="how-card-icon"
                />
                <div class="how-description">
                    {% include text-content/serg/approaching-serg/reflection.md %}
                </div>
            </div>
        </div>
        <div class="how-col col-sm-6 col-md-6">
            <div class="how-card d-flex flex-column align-items-center">
                <h4>Ideation</h4>
                <img
                    src="{{ '/assets/images/page-imgs/serg-approaching-imgs/ideation.svg' | relative_url }}"
                    alt="ideation icon"
                    class="how-card-icon"
                />
                <div class="how-description">
                {% include text-content/serg/approaching-serg/ideation.md %}
                </div>
            </div>
        </div>
        <div class="how-col col-sm-6 col-md-6">
            <div class="how-card d-flex flex-column align-items-center">
                <h4>Communication</h4>
                <img
                    src="{{ '/assets/images/page-imgs/serg-approaching-imgs/communication.svg' | relative_url }}"
                    alt="communication icon"
                    class="how-card-icon"
                />
                <div class="how-description">
                {% include text-content/serg/approaching-serg/communication.md %}
                </div>
            </div>
        </div>
        <div class="how-col col-sm-6 col-md-6">
            <div class="how-card d-flex flex-column align-items-center">
                <h4>Education</h4>
                <img
                    src="{{ '/assets/images/page-imgs/serg-approaching-imgs/education.svg' | relative_url }}"
                    alt="education icon"
                    class="how-card-icon"
                />
                <div class="how-description">
                    {% include text-content/serg/approaching-serg/education.md %}
                </div>
            </div>
        </div>

        <div class="mt-2 mb-4 how-to-text">
            <p>These are addressed chronologically through the <span class="approaching-essential"><a href="/essential-concepts">Essential Concepts</a></span> in race followed by the <span class="approaching-spectrums"><a href="/spectrums">Spectrums for Engaging Race in Games</a></span>. Additionally, we have also provided <span class="approaching-design"><a href="/design-activities">Design Activities</a></span> and <span class="approaching-goals"><a href="/goal-setting">Goal Setting</a></span> to help adjust games to reflect the goals and purpose they intend to serve.</p>
            {% include text-content/serg/approaching-serg/how-to-steps-1.md %}
        </div>

        <div class="d-flex justify-content-center pb-4">
                <img src="{{ '/assets/images/page-imgs/serg-approaching-imgs/stakeholder.webp' | relative_url }}" alt="SERG spectrum bar" class="img-fluid">
            </div>

        <div class="mt-2 mb-4 how-to-intro-text">
            {% include text-content/serg/approaching-serg/how-to-steps-2.md %}
        </div>
    </div>
</section>


<section class="discussion-guide container-fluid py-2">
    <div class="w-75 row align-items-center mx-auto">
        <div class="row mb-4">
            <h2><span>Discussion Guide: How to Talk about SERG at Work</span></h2>
        </div>
        <div class="row">
            <div class="mt-2 mb-4 discussion-text">
            {% include text-content/serg/approaching-serg/discussion-guide.md %}
            </div>
        </div>

        <div class="row mb-3">
            <div class="mt-2 mb-4 brave-text">
            {% include text-content/serg/approaching-serg/brave.md %}
            </div>
        </div>
    </div>
</section>


<section class="motivations-for-engaging container-fluid py-2">
    <div class="w-75 row align-items-center mx-auto">
        <div class="row mb-4">
            <h2><span>Motivations for Engaging with Race in Games</span></h2>
        </div>
        <div class="row">
            <div class="mt-2 mb-4 movtivations-approach-text">
            {% include text-content/serg/approaching-serg/motivations-engagement.md %}
            </div>
        </div>
    </div>
</section>


<section class="redirection-approaching container-fluid py-2">
    <div class="w-75 row align-items-center mx-auto">
        <div class="col mt-2 mb-4 text-center align-items-center justify-content-center">
            <h2>Previous Chapter</h2>
            <a href="/serg-home" class="btn btn-primary home-btn">What is the SERG Framework?</a>
        </div>
        <div class="col mt-2 mb-4 text-center align-items-center justify-content-center">
            <h2>Next Chapter</h2>
            <a href="/essential-concepts" class="btn btn-primary concepts-btn">Essential Concepts</a>
        </div>
    </div>
</section>