---
layout: "wrapper"
title: Bibliography
header: header-serg
permalink: /bibliography
---
<section class="serg-bib-hero container-fluid w-75 pt-5">
    <div class="d-flex row align-items-center">
        <h1 class="text-center">Bibliography</h1>
    </div>
</section>

<section class="references container-fluid py-2">
    <div class="w-75 mb-4 row align-items-center mx-auto">
        <div class="row mt-2 mb-3 text-left align-items-center justify-content-center">
            <h2><span class="bib-titles">References</span></h2>
        </div>
        <div class="row mb-1 text-left align-items-center justify-content-center reference-category-text">
            <h3>Approaching the SERG Framework</h3>
        </div>

        <div class="row mt-1 mb-2 text-left align-items-center justify-content-center bib-text">
            {% include text-content/serg/bibliography-serg/approaching-serg-bib.md %}
        </div>

        
        <div class="row mb-1 text-left align-items-center justify-content-center reference-category-text">
            <h3 id="bib-essential-concepts">Essential Concepts</h3>
        </div>

        <div class="row mt-1 mb-2 text-left align-items-center justify-content-center bib-text">
            {% include text-content/serg/bibliography-serg/essential-bib.md %}
        </div>


        
        <div class="row mb-1 text-left align-items-center justify-content-center reference-category-text">
            <h3>Game Design</h3>
        </div>

        <div class="row mt-1 mb-2 text-left align-items-center justify-content-center bib-text">
            {% include text-content/serg/bibliography-serg/game-design-bib.md %}
        </div>
    </div>
</section>


<section class="recommended-readings container-fluid py-2">
    <div class="w-75 mb-4 row align-items-center mx-auto">
        <div class="row mt-2 mb-3 text-left align-items-center justify-content-center">
            <h2><span class="bib-titles">Recommended Readings</span></h2>
        </div>
        <div class="row mb-1 text-left align-items-center justify-content-center reference-category-text">
            <h3>BIPOC Game Studies</h3>
        </div>

        <div class="row mt-1 mb-2 text-left align-items-center justify-content-center bib-text">
            {% include text-content/serg/bibliography-serg/bipoc-game-studies.md %}
        </div>
    </div>
</section>


<section class="redirection-bib container-fluid py-2">
    <div class="w-75 row align-items-center mx-auto">
        <div class="col mt-2 mb-4 text-center align-items-center justify-content-center">
            <h2>Previous Chapter</h2>
            <a href="/design-activities" class="btn btn-primary design-btn">Design Activities</a>
        </div>
    </div>
</section>