---
layout: "wrapper"
title: Design Activities
header: header-serg
permalink: /design-activities
---

<section class="serg-design-hero container-fluid w-75 pt-5">
    <div class="d-flex row align-items-center">
        <div class="col">
            <h1 class="text-center">Design Activities</h1>

            <div class="mt-2 mb-4 text-center design-hero-text pb-1">
                {% include text-content/serg/design-activities/design-hero-intro.md %}
            </div>
        </div>
    </div>
</section>

<section class="brainstorm-activities container-fluid py-2">
    <div class="w-75 mb-4 row align-items-center mx-auto">
        <div class="row mt-2 mb-3 text-left align-items-center justify-content-center">
            <h2><span class="activities-titles">Brainstorm Activities</span></h2>
        </div>
        <div class="row mb-1 text-left align-items-center justify-content-center instruction-text">
            {% include text-content/serg/design-activities/brainstorm-instruction.md %}
        </div>

        <div class="row mt-1 mb-2 text-left align-items-center justify-content-center activity-text">
            {% include text-content/serg/design-activities/brainstorm-general.md %}
        </div>
        
        <div class="row mt-1 mb-2 text-end align-items-center justify-content-center side-text">
            <p> Inspired by Latinx in Gaming’s UNIDOS Game Jam <a href="https://itch.io/jam/unidos-jam-2025" target="_blank">https://itch.io/jam/unidos-jam-2025</a></p>
        </div>
    </div>
</section>

<section class="iteration-activities container-fluid py-2">
    <div class="w-75 mb-4 row align-items-center mx-auto">
        <div class="row mt-2 mb-3 text-left align-items-center justify-content-center">
            <h2><span class="activities-titles">Iteration Activities</span></h2>
        </div>
        <div class="row mb-1 text-left align-items-center justify-content-center instruction-text">
            {% include text-content/serg/design-activities/iteration-instruction.md %}
        </div>

        <div class="row mt-1 mb-2 text-left align-items-center justify-content-center activity-text">
            {% include text-content/serg/design-activities/iteration-general.md %}
        </div>

        <div class="row mt-1 mb-2 text-end align-items-center justify-content-center side-text">
            <p>*Inspired by Schell, J. (2008). The Art of Game Design: A book of lenses. CRC press.</p>
        </div>
    </div>
</section>


<section class="guiding-activities container-fluid py-2">
    <div class="w-75 mb-4 row align-items-center mx-auto">
        <div class="row mt-2 mb-3 text-left align-items-center justify-content-center">
            <h2><span class="activities-titles">Guiding Design Questions</span></h2>
        </div>
        <div class="row mb-1 text-left align-items-center justify-content-center instruction-text">
            {% include text-content/serg/design-activities/guiding-instruction.md %}
        </div>

        <div class="row mt-5 mb-5 text-center align-items-center justify-content-center activity-text">
            {% include text-content/serg/design-activities/guiding-extra.md %}
        </div>

        <div class="row mt-1 mb-2 text-left align-items-center justify-content-center activity-text">
            {% include text-content/serg/design-activities/guiding-general.md %}
        </div>
        <div class="row mt-4 mb-2 text-left align-items-center justify-content-center activity-text">
            {% include text-content/serg/design-activities/guiding-general-2.md %}
        </div>
    </div>
</section>


<section class="redirection-design container-fluid py-2">
    <div class="w-75 row align-items-center mx-auto">
        <div class="col mt-2 mb-4 text-center align-items-center justify-content-center">
            <h2>Previous Chapter</h2>
            <a href="/goal-setting" class="btn btn-primary goal-btn">Goal Setting</a>
        </div>
        <div class="col mt-2 mb-4 text-center align-items-center justify-content-center">
            <h2>Next Chapter</h2>
            <a href="/bibliography" class="btn btn-primary biblio-btn">Bibliography</a>
        </div>
    </div>
</section>