---
layout: "wrapper"
title: Essential Concepts
header: header-serg
permalink: /essential-concepts
---

<section class="serg-essential-hero container-fluid w-75 py-5">
    <div class="d-flex row align-items-center">
        <div class="col">
            <h1 class="text-center">Essential Concepts</h1>

            <div class="mt-2 mb-4 text-center essential-hero-text pb-1">
                {% include text-content/serg/essential-concepts/essential-hero.md %}
            </div>

            <div class="mx-auto d-flex align-items-center justify-content-center row">
                <h3 class="essential-hero-buttons">The 4 I’s of Oppression & The 4 I’s of Liberation</h3>
                <h3 class="essential-hero-buttons">Critical Race Theory</h3>
                <h3 class="essential-hero-buttons">Design for BIPOC Flourishing</h3>
            </div>
        </div>
    </div>
</section>

<section class="oppression-intro container-fluid py-4">
    <div class="w-75 row align-items-center mx-auto">
        <div class="col mt-2 mb-1 text-left align-items-center justify-content-center">
            <h3 class="essential-concepts-intro-header">The 4 I’s of Oppression</h3>
            {% include text-content/serg/essential-concepts/four-i-opp-intro.md %}
        </div>
    </div>
</section>

<section class="oppression-general container-fluid py-4">
    <div class="w-75 row align-items-center mx-auto">
        <div class="row mt-2 mb-2 text-left align-items-center justify-content-center">
            {% include text-content/serg/essential-concepts/four-i-opp-general.md %}
        </div>

        <div class="row mt-2 mb-2 text-center align-items-center justify-content-center">
            {% include text-content/serg/essential-concepts/four-i-opp-end.md %}
        </div>
    </div>
</section>


<section class="liberation-intro container-fluid py-4">
    <div class="w-75 row align-items-center mx-auto">
        <div class="col mt-2 mb-1 text-left align-items-center justify-content-center">
            <h3 class="essential-concepts-intro-header">The 4 I’s of Liberation</h3>
            {% include text-content/serg/essential-concepts/four-i-lib-intro.md %}
        </div>
    </div>
</section>

<section class="liberation-general container-fluid py-4">
    <div class="w-75 row align-items-center mx-auto">
        <div class="row mt-2 mb-2 text-left align-items-center justify-content-center">
            {% include text-content/serg/essential-concepts/four-i-lib-general.md %}
        </div>
    </div>
</section>


<section class="crt-intro container-fluid py-4">
    <div class="w-75 row align-items-center mx-auto">
        <div class="col mt-2 mb-1 text-left align-items-center justify-content-center">
            <h3 class="essential-concepts-intro-header">Critical Race Theory</h3>
            {% include text-content/serg/essential-concepts/crt-intro.md %}
        </div>
    </div>
</section>

<section class="crt-general container-fluid py-4">
    <div class="w-75 row align-items-center mx-auto">
        <div class="row mt-2 mb-2 text-left align-items-center justify-content-center">
            {% include text-content/serg/essential-concepts/crt-general.md %}
        </div>
    </div>
</section>


<section class="flourishing-intro container-fluid py-4">
    <div class="w-75 row align-items-center mx-auto">
        <div class="col mt-2 mb-1 text-left align-items-center justify-content-center">
            <h3 class="essential-concepts-intro-header">Design for BIPOC Flourishing</h3>
            {% include text-content/serg/essential-concepts/bipoc-flourish-intro.md %}
        </div>
    </div>
</section>

<section class="flourishing-general container-fluid py-4">
    <div class="w-75 row align-items-center mx-auto">
        <div class="row mt-2 mb-2 text-left align-items-center justify-content-center">
            {% include text-content/serg/essential-concepts/bipoc-flourish-general.md %}
        </div>

        <div class="row mt-2 mb-2 text-center align-items-center justify-content-center">
            {% include text-content/serg/essential-concepts/bipoc-flourish-end.md %}
        </div>
    </div>
</section>

<section class="redirection-essential container-fluid py-2">
    <div class="w-75 row align-items-center mx-auto">
        <div class="col mt-2 mb-4 text-center align-items-center justify-content-center">
            <h2>Previous Chapter</h2>
            <a href="/approaching-serg" class="btn btn-primary approaching-btn">How to Use the SERG Framework?</a>
        </div>
        <div class="col mt-2 mb-4 text-center align-items-center justify-content-center">
            <h2>Next Chapter</h2>
            <a href="/spectrums" class="btn btn-primary spectrums-btn">Spectrums for Engaging Race in Games</a>
        </div>
    </div>
</section>