---
layout: "wrapper"
title: Goal Setting
header: header-serg
permalink: /goal-setting
---

<section class="serg-goal-hero container-fluid w-75 pt-5">
    <div class="d-flex row align-items-center">
        <div class="col">
            <h1 class="text-center">Goal Setting</h1>

            <div class="mt-2 mb-4 text-center goal-hero-text pb-1">
                {% include text-content/serg/goal-setting/goal-setting-hero.md %}
            </div>
        </div>
    </div>
</section>

<section class="setting-goals container-fluid py-2">
    <div class="w-75 mb-4 row align-items-center mx-auto">
        <div class="row mt-2 mb-2 text-left align-items-center justify-content-center">
            <h2><span class="goal-title-mini">Setting SERG Design Goals</span></h2>
        </div>
        <div class="row text-left align-items-center justify-content-center instruction-text">
            {% include text-content/serg/goal-setting/when-creating-instruction.md %}
        </div>

        <div class="row mt-1 mb-2 text-left align-items-center justify-content-center activity-text">
            {% include text-content/serg/goal-setting/when-creating.md %}
        </div>
    </div>
</section>


<section class="sample-goals container-fluid py-2">
    <div class="w-75 mb-4 row align-items-center mx-auto">
        <div class="row mt-2 mb-2 text-left align-items-center justify-content-center">
            <h2><span class="goal-title-mini">Sample Goals</span></h2>
        </div>
        <div class="row text-left align-items-center justify-content-center instruction-text">
            {% include text-content/serg/goal-setting/sample-goal-instruction.md %}
        </div>

        <div class="row mt-1 mb-2 text-left align-items-center justify-content-center activity-text">
            {% include text-content/serg/goal-setting/sample-goal.md %}
        </div>
    </div>
</section>


<section class="different-stakeholders container-fluid py-2">
    <div class="w-75 mb-4 row align-items-center mx-auto">
        <div class="row mt-2 mb-2 text-center align-items-center justify-content-center">
            <h2><span class="goal-title">Setting goals with different stakeholders within a studio</span></h2>
        </div>

        <div class="row mt-1 mb-2 text-left align-items-center justify-content-center activity-text">
            {% include text-content/serg/goal-setting/different-stakeholders.md %}
        </div>
    </div>
</section>


<section class="redirection-goals container-fluid py-2">
    <div class="w-75 row align-items-center mx-auto">
        <div class="col mt-2 mb-4 text-center align-items-center justify-content-center">
            <h2>Previous Chapter</h2>
            <a href="/spectrums" class="btn btn-primary spectrums-btn">Spectrums for Engaging Race in Games</a>
        </div>
        <div class="col mt-2 mb-4 text-center align-items-center justify-content-center">
            <h2>Next Chapter</h2>
            <a href="/design-activities" class="btn btn-primary activities-btn">Design Activities</a>
        </div>
    </div>
</section>