---
layout: "wrapper"
title: Spectrums for Meaningfully Engaging in Race
header: header-serg
permalink: /spectrums
---

<section class="serg-spectrums-hero container-fluid w-75 py-5">
    <div class="d-flex row align-items-center">
        <div class="col">
            <h1 class="text-center">Spectrums for Engaging Race in Games</h1>

            <div class="mt-2 mb-2 text-center essential-hero-text pb-1">
                {% include text-content/serg/spectrums/spectrums-hero-1.md %}
            </div>

            <div class="d-flex justify-content-center py-2">
                <img src="{{ '/assets/images/page-imgs/serg-approaching-imgs/serg-bar.webp' | relative_url }}" alt="SERG spectrum bar" class="SERG-spectrum-bar img-fluid">
            </div>

            <div class="mt-2 mb-4 text-center essential-hero-text pb-1">
                {% include text-content/serg/spectrums/spectrums-hero-2.md %}
            </div>

        </div>
    </div>
</section>

<section class="case-study container-fluid py-2">
    <div class="w-75 mb-4 row align-items-center mx-auto">
        <div class="row mt-2 mb-3 text-left align-items-center justify-content-center">
            <h2 class="case-title">Case Studies Examples</h2>
        </div>
        <div class="row mb-1 text-left align-items-center justify-content-center case-study-text">
            {% include text-content/serg/spectrums/case-study-example.md %}
        </div>

        <div class="row text-left align-items-center case-study-disclaimer">
            {% include text-content/serg/spectrums/case-study-disclaimer.md %}
        </div>

        <div class="d-flex justify-content-center py-2">
            <img src="{{ '/assets/images/page-imgs/serg-spectrums-imgs/case-study-table-blank.png' | relative_url }}" alt="SERG games table" class="img-fluid">
        </div>
    </div>
</section>


<section class="serg-banner-title-spectrums container-fluid pt-2 pb-0">
    <div class="text-center mx-auto banner-title">
        <h3>
            <span>Spectrums for Engaging in Race</span>
        </h3>
    </div>
</section>

<section class="serg-race-banner container-fluid">
    <div class="serg-banner-text text-center mx-auto py-4">
        <h4>Acknowledge Race</h4>
    </div>
</section>

<section class="serg-racism-banner container-fluid">
    <div class="serg-banner-text text-center mx-auto py-4">
        <h4>Acknowledge Racism</h4>
    </div>
</section>

<section class="serg-fantasy-banner container-fluid">
    <div class="serg-banner-text text-center mx-auto py-4">
        <h4>Acknowledge Fantasy Racism</h4>
    </div>
</section>

<section class="serg-multiplicity-banner container-fluid">
    <div class="serg-banner-text text-center mx-auto py-4">
        <h4>Multiplicities of Race</h4>
    </div>
</section>

<section class="serg-characterization-banner container-fluid">
    <div class="serg-banner-text text-center mx-auto py-4">
        <h4>Meaningful Characterization</h4>
    </div>
</section>

<section class="serg-intersection-banner container-fluid">
    <div class="serg-banner-text text-center mx-auto py-4">
        <h4>Meaningful Intersectional Identities</h4>
    </div>
</section>

<section class="serg-narrative-banner container-fluid">
    <div class="serg-banner-text text-center mx-auto py-4">
        <h4>Meaningful Narrative</h4>
    </div>
</section>

<section class="serg-mechanics-banner container-fluid mb-4">
    <div class="serg-banner-text text-center mx-auto py-4">
        <h4>Meaningful Mechanics</h4>
    </div>
</section>

<section class="temp-spectrum-images container-fluid w-75 py-5">
    <div class="d-flex row align-items-center">
        <div class="row">
            <img src="{{ '/assets/images/page-imgs/serg-spectrums-imgs/TEMP-spectrum-race.png' | relative_url }}" alt="Acknowledge Race Spectrum" class="img-fluid">
        </div>
        <div class="row">
            <img src="{{ '/assets/images/page-imgs/serg-spectrums-imgs/TEMP-spectrum-racism.png' | relative_url }}" alt="Acknowledge Racism Spectrum" class="img-fluid">
        </div>
        <div class="row">
            <img src="{{ '/assets/images/page-imgs/serg-spectrums-imgs/TEMP-spectrum-fantasy.png' | relative_url }}" alt="Acknowledge Fantasy Racism Spectrum" class="img-fluid">
        </div>
        <div class="row">
            <img src="{{ '/assets/images/page-imgs/serg-spectrums-imgs/TEMP-spectrum-multiplicity.png' | relative_url }}" alt="Multiplicity of Race Spectrum" class="img-fluid">
        </div>
        <div class="row">
            <img src="{{ '/assets/images/page-imgs/serg-spectrums-imgs/TEMP-spectrum-character.png' | relative_url }}" alt="Meaningful Character Spectrum" class="img-fluid">
        </div>
        <div class="row">
            <img src="{{ '/assets/images/page-imgs/serg-spectrums-imgs/TEMP-spectrum-intersectional.png' | relative_url }}" alt="Meaningful Intersectional Identities Spectrum" class="img-fluid">
        </div>
        <div class="row">
            <img src="{{ '/assets/images/page-imgs/serg-spectrums-imgs/TEMP-spectrum-narrative.png' | relative_url }}" alt="Meaningful Narrative Spectrum" class="img-fluid">
        </div>
        <div class="row">
            <img src="{{ '/assets/images/page-imgs/serg-spectrums-imgs/TEMP-spectrum-mechanics.png' | relative_url }}" alt="Meaningful Mechanics Spectrum" class="img-fluid">
        </div>
    </div>
</section>


<section class="spectrums-table container-fluid py-5">
    <div class="w-75 mb-4 row align-items-center mx-auto">
        <div class="row text-left align-items-center justify-content-center">
            <h2 class="case-title">Case Studies</h2>
        </div>
        <div class="row text-left align-items-center justify-content-center case-study-text">
            {% include text-content/serg/spectrums/case-study-final.md %}
        </div>

        <div class="d-flex justify-content-center py-2">
            <img src="{{ '/assets/images/page-imgs/serg-spectrums-imgs/case-study-table-blank.png' | relative_url }}" 
            alt="SERG games table"
            class="spectrum-table-img img-fluid">
        </div>
    </div>
</section>

<section class="redirection-spectrums container-fluid py-2">
    <div class="w-75 row align-items-center mx-auto">
        <div class="col mt-2 mb-4 text-center align-items-center justify-content-center">
            <h2>Previous Chapter</h2>
            <a href="/spectrums" class="btn btn-primary essential-btn">Essential Concepts</a>
        </div>
        <div class="col mt-2 mb-4 text-center align-items-center justify-content-center">
            <h2>Next Chapter</h2>
            <a href="/design-activities" class="btn btn-primary design-btn">Design Activities</a>
        </div>
    </div>
</section>

<!-- <section class="spectrum-race container-fluid py-4">
    <div class="w-75 mb-4 row align-items-center mx-auto">
        <div class="col justify-content-center">
            <div class="row justify-content-start">
                <h2 class="spectrum-title race-color text-center">ACKNOWLEDGING RACE</h2>
            </div>
            <div class="row justify-content-start text-left">
                <h3 class="spectrum-def race-color">{% include text-content/serg/spectrums/race-def.md %}</h3>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 d-flex justify-content-center">
            <img src="{{ '/assets/images/page-imgs/serg-spectrums-imgs/spectrum-race.png' | relative_url }}" alt="Acknowledge Race Spectrum" class="spectrum-img img-fluid">
        </div>
    </div>
</section> -->